{% extends 'baseAdmin.html.twig' %}

{% block title %}commentaires{% endblock %}

{% block body %}

    <h1>Liste des commentaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>N°</th>
                <th>Commentaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ loop.revindex }}</td>
                <td>{{ comment.comment }}</td>
                <td>
                    <a href="{{ path('comment_show', {'id': comment.id}) }}">show</a>
                    <a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">aucun commentaire trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('comment_new') }}">Nouveau</a>

{% endblock %}
