<!DOCTYPE html>

<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SUBLIMMO - facture</title>
        <style>
            header p{margin:0;}#client{position:absolute;top:0;right:0;}h1{font-size:2em;margin-top:2em;}table{width: 100%;}table img{width:100px;}thead,tfoot{background-color:#555;color:#FFF;font-weight:bold;}td{height:45px;}thead th,tfoot td{height:35px;}footer{position:fixed;bottom:0;width:100%;text-align:center;}footer p{margin:0;font-size:0.75em;}.text-right{text-align:right;}.text-center{text-align:center;}
        </style>
    </head>

    <body>

        <header>
            <div>
                <h2>{{ contact_company|upper }}</h2>
                <p>{{ contact_address }}</p>
                <p>{{ contact_zip }} {{ contact_city }}</p>
                <p>{{ contact_phone }}</p>
                <p>{{ contact_email }}</p>
                <p>SIRET : 123 456 789 00000</p>
            </div>
            {# <div class="col-xs-4 text-center">
                <img src="{{ asset('img/logo.png') }}" alt="logo Sublimmo" class="w-50">
            </div> #}
            <div id="client">
                <h3>Client :</h3>
                <p>{{ invoice.user.firstName }} {{ invoice.user.lastName|upper }}</p>
                <p>n° voie</p>
                <p>complément d'addresse</p>
                <p>code postal ville</p>
                <p>{{ invoice.user.email }}</p>
            </div>
        </header>
    
        <main>
            <h1>{{ invoice.number }} (du {{ invoice.paymentDate|format_datetime('long', 'none', locale='fr') }})</h1>
            <table>
                <thead>
                    <tr>
                        <th>Désignation</th>
                        <th>Prix unitaire</th>
                        <th>Quantité</th>
                        <th>Sous-total</th>
                    </tr>
                </head>
                <tbody>
                    {% for line in invoice.invoiceLines %}
                        <tr>
                            <td>{# <img src="{{ asset('img/maison/' ~ line.product.img1) }}" alt="image {{ line.product.title }}">  #}{{ line.item.title }}</td>
                            <td class="text-right">{{ line.item.price|number_format(2, ',', ' ') }} €</td>
                            <td class="text-center">{{ line.quantity }}</td>
                            <td class="text-right">{{ (line.item.price * line.quantity)|number_format(2, ',', ' ') }} €</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="text-right">
                        <td colspan="3">TOTAL :</td>
                        <td>{{ invoice.amount|number_format(2, ',', ' ') }} €</td>
                    </tr>
                </tfoot>
            </table>
        </main>

        <footer>
            <div>
                <p>TVA non applicable, art. 293 B du CGI.</p>
                <p>Dispensé(e) d’immatriculation au registre du commerce et des sociétés (RCS) et au répertoire des métiers (RM).</p>
                <p>En cas de retard de paiement, application de l’indemnité forfaitaire légale pour frais de recouvrement : 40,00 €.</p>
            </div>
        </footer>
        
    </body>

</html>
