{% extends 'base.html.twig' %}

{% block title %}paiement accepté{% endblock %}

{% block body %}

    <header class="container-fluid p-5 text-center bg-light">
        <h1>SUBL'IMMO - paiement accepté</h1>
    </header>

    <main class="container-fluid py-5">

        <div class="row">
            <div class="col-6 offset-3">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-{{ label }} bg-{{ label }} text-light p-3 mb-5 rounded">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-6 offset-3">
                <h2 class="mb-5">Paiement accepté</h2>
                <p>Le paiement a été accepté et nous vous en remercions.</p>
                <p>Vous poouvez télécharger votre facture en cliquant sur le lien suivant : <a href="{{ path('invoice_download', {'id': invoiceId}) }}" class="text-primary">télécharger ma facture</a>.</p>
                <p>Pour toute demande concerntant votre commande, vous pouvez contacter via le <a href="{{ path('contact') }}" class="text-primary">formulaire de contact</a>.</p>
            </div>
        </div>

    </main>

{% endblock %}
